<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net452" />
  <package id="AspNet.ScriptManager.bootstrap" version="3.3.6" targetFramework="net452" />
  <package id="AspNet.ScriptManager.jQuery" version="2.2.1" targetFramework="net452" />
  <package id="bootstrap" version="3.3.6" targetFramework="net452" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="dotless" version="1.4.0.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EntityFramework.Core" version="7.0.0-rc1-final" targetFramework="net452" />
  <package id="EntityFramework.Relational" version="7.0.0-rc1-final" targetFramework="net452" />
  <package id="GeolocationJS" version="1.0.4" targetFramework="net452" />
  <package id="Google.Apis" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.11.1" targetFramework="net452" />
  <package id="Google.Apis.YouTube.v3" version="1.11.1.417" targetFramework="net452" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net452" />
  <package id="jQuery" version="2.2.1" targetFramework="net452" />
  <package id="jQuery.Fullcalendar" version="2.4.0" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net452" />
  <package id="Jquery.UI.Theme.uidarkness" version="1.8.23" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Authentication" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Authentication.Cookies" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cryptography.Internal" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cryptography.KeyDerivation" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.DataProtection" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.DataProtection.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.FileProviders.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Hosting.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Extensions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Http.Features" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity" version="3.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="3.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Providers.Core" version="2.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebUtilities" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.WebEncoders" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.WebEncoders.Core" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Net.Http.Headers" version="1.0.0-rc1-final" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Facebook" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Google" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Twitter" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="Moment.js" version="2.12.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="qTip2" version="2.2.1" targetFramework="net452" />
  <package id="Remotion.Linq" version="2.0.1" targetFramework="net452" />
  <package id="Respond" version="1.4.2" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0-beta-23516" targetFramework="net452" />
  <package id="System.Diagnostics.Tracing" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.0" targetFramework="net452" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net452" />
  <package id="System.Web.Optimization.Less" version="1.3.4" targetFramework="net452" />
  <package id="WebGrease" version="1.6.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>