<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-BluePrintv2-e979bdd0-23b7-4e53-bbd0-254d2efb6e81;AttachDbFilename=|DataDirectory|\aspnet-BluePrintv2-e979bdd0-23b7-4e53-bbd0-254d2efb6e81.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="DBCS" connectionString="user id=Kyle\Kyle;Server =KYLE;Database=WBL;Trusted_Connection=yes;"/>
    <add name="DBCSS" connectionString="Server=Localhost;Database=WBL;Trusted_Connection=Yes;"/>
    <add name="connectionTom" connectionString="Data Source=user-PC;Initial Catalog=WBL;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
